[submodule "themes/hugo-theme-tokiwa"]
	path = themes/hugo-theme-tokiwa
	url = https://github.com/heyeshuang/hugo-theme-tokiwa.git
[submodule "themes/walden"]
	path = themes/walden
	url = git@github.com:Homecat805/hugo-theme-walden.git
[submodule "themes/hugo-theme-next"]
	path = themes/hugo-theme-next
	url = https://github.com/hugo-next/hugo-theme-next.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = git@github.com:handsomexdd1024/hugo-theme-stack.git
